{% extends "bootstrap/base.html" %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/vnd.microsoft.icon" />
    <link rel="icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/vnd.microsoft.icon" />

    <style>
    .fit-logo {
    height: auto;
    width: auto;
    max-height: 25px;
    max-width: 150px;
    }
    </style>

{% endblock %}

{% block title %} INNOVATE demo {% endblock %}

{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand navbar-brand-logo" href="/">
                    <div class="logo">
                        <img src="{{ url_for('static', filename = '2000px-acme-logo.png') }}" class="fit-logo">
                    </div>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">VLAN provisioning</a></li>
                    <li><a href="https://www.arista.com/en/">arista.com</a> </li>
                    <li><a href="http://bfy.tw/39To">Weather in California =)</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}