{% extends "base.html" %}

{% block content %}

<script src="/d3.v4.min.js"></script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>

<body style="width:1100px;height:600px;border:1px lightgray solid;">

<div class="panel panel-default pull-right" style="width:520px;height:400px;border:1px lightgray solid; margin:10px">
  <div class="panel-heading">
    <h3 class="panel-title">Ports to provision</h3>
  </div>

  <div class="panel-body">
    <ul class="nav nav-tabs" id="switch-tabs">
    <!-- D3 will add tabs here -->
    </ul>

    <div class="tab-content clearfix" id="switch-tabs-content">
    <!-- D3 will add tab content here -->
    </div>
  </div>

</div>

<div class="panel panel-default pull-left" style="width:520px;height:400px;border:1px lightgray solid; margin:10px">
  <div class="panel-heading">
    <h3 class="panel-title">VLAN to provision</h3>
  </div>
  <div class="panel-body">
    <form class="form-horizontal" id="VLAN_form">
      <div class="form-group">
        <label class="control-label col-sm-2" for="vlan_number" style="width: 150px;">VLAN number:</label>
        <div class="col-sm-3">
          <input type="text" class="form-control col-sm-5" id="vlan_number" placeholder="Enter VLAN number" style="width: 200px;">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="vlan_name" style="width: 150px;">VLAN name:</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="vlan_name" placeholder="Enter VLAN name" style="width: 200px;">
        </div>
      </div>
      <div class="checkbox">
        <label class="control-label col-sm-2" style="width: 300px; margin-bottom: 10px; text-align: left">
          <strong>List of leaf switches to configure:</strong>
          </label>
        <div class="col-sm-offset-2 col-sm-10 dyn-checkbox">
            <!-- D3 will add checkboxes here -->
        </div>
      </div>
      <br><br>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10" style="padding-top: 10px">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div id="add-alert-here" class="alert-bottom">
</div>

</body>

<script>

$(function(){
    $('#VLAN_form').on('submit', function(event){
        event.preventDefault();

        var names = [];

        $('input[type=checkbox]').each(function () {
            if ($(this).is(':checked')) {
                names.push($(this).attr("name"));
            }
        });

        var formData = {
            'vlan_number': $('input[id=vlan_number]').val(),
            'vlan_name': $('input[id=vlan_name]').val(),
            'checkbox': names
        };

        $.ajax({
            url: '/processing',
            type: 'POST',
            data: formData,
            dataType: 'json',
            encode: true,
            success: $('#add-alert-here').append("<div class=\"alert alert-success alert-dismissible\" role=\"alert\">\n" +
                "  <button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>\n" +
                "  <strong>Success!</strong> VLAN configlet was created and assigned to selected leafs on CVP.\n" +
                "</div>"),
            //success: location.href = "/success",
            //success: alert('Request sent to CVP!'),
            traditional: true
        });
    });
});

d3.json("/json_data", function(error, json) {
    if (error) throw error;

    var panel = d3.select("#switch-tabs");
    var panel_content = d3.select("#switch-tabs-content");

    json.forEach(function(d, i) {
        var checkbox = d3.select("div.dyn-checkbox").append("div")
            .attr("class", "d3-checkbox")
            .append("label");
        checkbox.html("<input type=\"checkbox\" name=\""+d+"\">" + d);

        panel.append("li")
            .attr("class", "switch-tab")
            .attr("id", "#li_"+i)
            .append("a")
            .attr("href", "#tab_"+i)
            .html(d);

        var svg_id = "svg_"+d+"_"+i;

        panel_content.append("div")
            .attr("class", "tab-pane switch-tab-content")
            .attr("id", "tab_"+i)
            .append("text") //temp
            .html(i)  //temp
            .append("svg")
            .style("margin", "10px")
            .attr("id", svg_id);

        if (i < 1) {
            d3.select("#tab_"+i).classed("active", true);
            d3.select("#li_"+i).classed("active", true)
        }

        var coordinates = [
                "(0,0)",
                "(0,33)",
                "(33,0)",
                "(33,33)",
                "(66,0)",
                "(66,33)",
                "(99,0)",
                "(99,33)"
            ];

        coordinates.forEach(function (coord, num) {
            var sw_port = d3.selectAll("#"+svg_id).append("g")
              .attr("transform", "translate"+coord);
            sw_port.append("rect")
              .style("width", "30px")
              .style("height", "30px")
              .style("fill", "#bcc6d6")
              .style("stroke", "black");
            sw_port.append("text")
              .style("fill", "black")
              .attr("transform", "translate(8,19)")
              .html("E"+(num+1))
        })
		});

    panel.selectAll("li.switch-tab").on("click",
            function () {
                panel.selectAll("li").classed("active", false);
                panel_content.selectAll("div.switch-tab-content").classed("active", false);
                d3.select(this).classed("active", true);
                var tab_content_id = d3.select(this).select("a").attr("href");
                d3.selectAll(tab_content_id).classed("active", true)
            }
        );

});

</script>

{% endblock %}